hr{
    height:2px;
    background-color: brown;
}
.intro{
    font-style: italic;
}
.highlight{
    background-color: #f0f8ff;
    padding:8px;
}
#header{
    color:#2c3e50;
    font-size: 32px;
}
.box{
    width: 300px;
    height: 300px;
    margin:10px;
    padding: 16px;
    border: 1px solid #ccc;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside{
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}